<?xml version="1.0"?>
<!--
/**
 * Copyright © Fisheye Media Ltd. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <product_image_lazyload>
                <preload>1</preload>
            </product_image_lazyload>
        </catalog>
    </default>
</config>
